<div class="container-fluid bg-colored p-0">
    <div class="card">
        <span class="ab-text-bg text-center">LOGIN</span>
        <form action="">
            <span class="p-float-label p-input-icon-left ">
                <i class="pi pi-envelope"></i>
                <input id="float-input" placeholder="Email" type="email" pInputText [(ngModel)]="value2"> 
            </span>
            <span class="p-float-label p-input-icon-left  ">
                <i class="pi pi-unlock"></i>
                <input id="float-input" placeholder="Password" type="passowrd" pInputText [(ngModel)]="value2"> 
            </span>
            <button class="btn-custom-one my-3">Login</button>
            <h4 class="ab-text-md">Don't have account? <a>Create Now</a></h4>
            <img class="d-flex icon mx-auto " src="../../../assets/icon/btn_google_signin_dark_normal_web@2x.png" alt="" srcset="">
        </form>
    </div>
</div>