<main [ngSwitch]="theme" id=" ">

    <div class="theme-selector" cdkDrag>
        <p class="text-sm">Theme</p>
        <div class="d-flex">
            <button (click)="select(1)" class=" selected minimal" [class.selected]="theme == 1"></button>
            <button (click)="select(2)" class="  light" [class.selected]="theme == 2"></button>
            <button (click)="select(3)" class="  dark" [class.selected]="theme == 3"></button>
        </div>

    </div>
    <div [class.theme-minimal]="theme == 1" [class.theme-light]="theme == 2" [class.theme-dark]="theme==3">
        <app-nav-bar></app-nav-bar>
        <router-outlet></router-outlet>
    </div>
</main>