 /*
fonts: 
*/
 
 ////Font impots
 @import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Antic+Slab&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Cookie&family=Economica:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');
 /*
font-family: 'Cookie', cursive;
font-family: 'Economica', sans-serif;
font-family: 'Ubuntu Mono', monospace;
font-family: 'Open Sans';
font-family: 'Rock Salt', cursive;
font-family: 'Lexend Deca', sans-serif,
font-family: 'Limelight', cursive;
 
*/
 /*
 * Theme definitions
 */
 
 $minimal:( backgroundcolor: #FF4F61,
 secondary-color: #ffca3a,
 primary-color: #6b0156,
 dark-primary:#343B3C,
 dark-deep:#1E2425,
 shadow:#6b01566b,
 textColor: #ffffff,
 textDark:#1E2425,
 hovercolor:#491b40,
 hovercolor2: #f8ce90,
 font-primary:'Open Sans',
 font-secondary:'Limelight');
 $light:( backgroundcolor: #FFFFFF,
 secondary-color: #FFCA00,
 primary-color: #ff4602,
 dark-primary:#00F2FF,
 dark-deep:#2A2F3D,
 shadow:#ff5a1eab,
 textColor: #2A2F3D,
 textDark:#FFFFFF,
 hovercolor: #db3a00,
 hovercolor2:#db7c00,
 font-primary:'cursive',
 font-secondary:'Lexend Deca');
 $dark:( backgroundcolor: #1E2425,
 secondary-color: #FF4F61,
 primary-color: #3a4647,
 dark-primary: #FFCB3A,
 dark-deep:#6b0156,
 shadow:#5e6566,
 textColor: #ffffff,
 textDark:#1E2425,
 hovercolor:#415f63,
 hovercolor2:#fc717f,
 font-primary:'Open Sans',
 font-secondary:'Limelight');
 $themes: ( minimal: $minimal,
 light: $light,
 dark: $dark);
 /*
   * Implementation of themes
   */
 
 @mixin themify($themes) {
     @each $theme,
     $map in $themes {
         .theme-#{$theme} & {
             $theme-map: () !global;
             @each $key,
             $submap in $map {
                 $value: map-get(map-get($themes,
                 $theme),
                 '#{$key}');
                 $theme-map: map-merge($theme-map, ($key: $value)) !global;
             }
             @content;
             $theme-map: null !global;
         }
     }
 }
 
 @function themed($key) {
     @return map-get($theme-map,
     $key);
 }
 /*
   * Actual styles for the app
   */
 
 body {
     margin: 0;
     font-family: 'Open Sans';
 }
 
 html,
 body {
     height: 100%;
 }
 
 a {
     text-decoration: none;
     //  @include themify($themes) {
     //      color: themed('textDark');
     //      &:hover {
     //          cursor: pointer;
     //          color: themed('secondary-color')
     //      }
     //  }
 }
 
 #app-root {
     margin: 0;
     padding: 0;
     height: 100%;
     display: flex;
     flex-direction: column;
     >div {
         display: flex;
         flex: 1;
     }
 }
 
 //background exports: 
 .bg-colored {
     @include themify($themes) {
         background-color: themed('backgroundcolor')!important;
     }
 }
 
 .bg-deep {
     @include themify($themes) {
         background-color: themed('primary-color')!important;
     }
 }
 
 .bg-bright {
     @include themify($themes) {
         background-color: themed('secondary-color')!important;
     }
 }
 /*
Font size variable: 
*/
 
 $font-lg: 6rem;
 $font-md: 4rem;
 $font-bg: 3rem;
 $font-sm: 1rem;
 .ab-title {
     font-weight: lighter;
     font-size: $font-lg;
     line-height: $font-lg;
     letter-spacing: 0.4rem;
     font-weight: 600;
     @include themify($themes) {
         color: themed('secondary-color');
         font-family: themed('font-primary');
     }
 }
 
 .ab-sub-title {
     font-weight: lighter;
     font-size: $font-md;
     line-height: $font-md;
     letter-spacing: 0.1rem;
     font-weight: 500;
     @include themify($themes) {
         color: themed('textColor');
         font-family: themed('font-secondary');
     }
 }
 
 .ab-text-md {
     font-family: 'Open Sans';
     font-weight: lighter;
     font-size: $font-sm;
     line-height: $font-sm;
     font-weight: 500;
     letter-spacing: 0.1rem;
 }
 
 .ab-text-md-op {
     font-family: 'Open Sans';
     font-weight: lighter;
     font-size: $font-sm;
     line-height: $font-sm;
     font-weight: 500;
     letter-spacing: 0.1rem;
     word-break: break-all;
     @include themify($themes) {
         color: themed('textDark');
         // font-family: themed('font-secondary');
     }
 }
 
 .ab-text-sm {
     font-family: 'Open Sans';
     font-weight: lighter;
     font-size: 1rem;
     line-height: 1rem;
     font-weight: 500;
     letter-spacing: 0.1rem;
 }
 
 .ab-text-bg {
     // font-family: 'Open Sans';
     font-weight: bold;
     font-size: $font-bg;
     line-height: $font-bg;
     letter-spacing: 0.2rem;
     @include themify($themes) {
         color: themed('backgroundcolor');
         font-family: themed('font-secondary');
     }
 }
 
 .btn-custom-one {
     max-width: 20em;
     cursor: pointer;
     border-radius: 3px;
     padding: 0.6rem 2rem;
     display: inline-block;
     font-size: 16px;
     font-family: 'Exo 2', sans-serif;
     text-transform: uppercase;
     transition: color 0.3s, background-color 0.3s;
     font-weight: 600;
     @include themify($themes) {
         border: 0px;
         color: themed('secondary-color');
         background-color: themed('primary-color');
         //box-shadow: 2px 2px 12px themed('shadow');
         text-transform: themed('buttonTextTransform');
         &:hover {
             color: themed('secondary-color');
             background-color: themed('hovercolor');
         }
     }
 }
 
 @media only screen and(max-width: 800px) {
     .ab-title {
         font-size: $font-bg/1.5;
         line-height: $font-bg/1.5;
         letter-spacing: 0.1rem;
     }
     .ab-sub-title {
         font-size: $font-md/1.5;
         line-height: $font-md/1.5;
         letter-spacing: 0.1rem;
     }
     .ab-text-md {
         font-size: $font-sm/1.5;
         line-height: $font-sm/1.5;
         letter-spacing: 0.1rem;
     }
     .ab-text-sm {
         font-size: 1rem;
         line-height: 1rem;
         letter-spacing: 0.1rem;
     }
     .btn-custom-one {
         font-size: 16px;
     }
 }
 
 .btn-custom-two {
     cursor: pointer;
     border-radius: 3px;
     padding: 0.8rem 1.4rem;
     display: inline-block;
     font-size: 1.2rem;
     text-transform: uppercase;
     transition: color 0.3s, background-color 0.3s;
     font-weight: 600;
     @include themify($themes) {
         font-family: themed('font-primary');
         border: 0px;
         color: themed('backgroundcolor');
         background-color: themed('secondary-color');
         //box-shadow: 2px 2px 12px themed('shadow');
         text-transform: themed('buttonTextTransform');
         &:hover {
             color: themed('backgroundcolor');
             background-color: themed('hovercolor2');
         }
     }
 }
 
 // burger
 /////////////////
 .burger {
     display: none;
     position: absolute;
     top: 0.2em;
     right: 2.4rem;
     width: 2.6rem;
     height: 4rem;
     background: none;
     border: none;
     padding: 0.5rem;
     &:focus {
         outline-color: currentColor;
     }
 }
 /* when the .burger is toggled to .open, update the group elements to toggle between the hamburger and x symbol */
 
 .burger svg {
     width: 100%;
     height: auto;
     display: block;
     // filter: drop-shadow(5px 5px 2px hsl(0, 0%, 78%));
 }
 
 .burger .translate {
     transition: transform 0.25s ease-in-out;
     transition-delay: 0.25s;
 }
 
 .burger .rotate {
     transition: transform 0.25s ease-in-out;
     transition-delay: 0s;
 }
 
 .burger.open .translate {
     transform: translateY(0);
     transition-delay: 0s;
 }
 
 .burger.open .rotate {
     transform: rotate(0);
     transition-delay: 0.25s;
 }
 
 .btn-side-nav {
     background: transparent;
     padding: 0.4rem 1.4rem;
     border: 0px;
     text-align: center;
     font-weight: 600;
 }
 
 .burger {
     @include themify($themes) {
         color: themed('secondary-color')
     }
 }
 
 //
 .card {
     @include themify($themes) {
         background-color: themed('textColor');
     }
 }
 
 ////Angular Materials: 
 mat-icon {
     @include themify($themes) {
         color: themed('textColor');
         &:hover {
             color: themed('hovercolor2');
         }
     }
 }
 
 ::ng-deep .mat-menu {
     margin-right: -3rem;
     background: rgba(221, 221, 221, 0.534);
     button {
         color: #000000;
         mat-icon {
             color: #000000 !important;
         }
     }
 }
 
 mat-toolbar {
     .btn-custom-nav {
         max-width: 10em;
         cursor: pointer;
         border-radius: 3px;
         padding: 0rem 1rem;
         display: inline-block;
         font-size: 0.8rem;
         font-family: 'Open Sans';
         transition: color 0.3s, background-color 0.3s;
         font-weight: 500;
         text-decoration: none;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         p {
             margin: auto;
         }
         @include themify($themes) {
             color: themed('textColor');
         }
         span {
             width: 0%;
             height: 1px;
             transition: width 0.3s;
             @include themify($themes) {
                 background-color: themed('secondary-color');
             }
         }
         &:hover {
             span {
                 width: 140%;
             }
         }
         @include themify($themes) {
             border: 0px;
             background-color: transparent;
             //box-shadow: 2px 2px 12px themed('shadow');
             &:hover {
                 color: themed('secondary-color');
             }
         }
         &:active {
             color: red;
         }
     }
 }
 
 .container {
     padding: 0;
     margin: 0;
 }
 
 .container-fluid {
     padding: 0;
     width: 100%;
     margin: 0;
 }
 
 //Angular Prime NG: 
 .p-input-icon-left {
     margin-top: 1.4rem;
     &:focus {
         @include themify($themes) {
             label {
                 color: themed('secondary-color')
             }
         }
     }
     @include themify($themes) {
         i {
             color: themed('textColor')
         }
     }
     input {
         width: 20rem;
         border: 0px;
         padding-top: .7rem;
         padding-bottom: 0.7rem;
         padding-left: 2rem;
         outline: none;
         &:focus {
             @include themify($themes) {
                 border-bottom: 2px solid themed('primary-color');
                 background-color: themed('backgroundcolor');
                 color: themed('textColor');
             }
             &::placeholder {
                 /* Chrome, Firefox, Opera, Safari 10.1+ */
                 color: rgb(228, 228, 228);
                 opacity: 0.3;
                 /* Firefox */
             }
         }
         @include themify($themes) {
             border-bottom: 2px solid themed('secondary-color');
             background-color: themed('backgroundcolor');
             color: themed('textColor')
         }
     }
     label {
         @include themify($themes) {
             color: themed('shadow')
         }
     }
 }